<section >
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Add Products</h1>
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                    <label for="name">Product Name</label><br>
                    <input type="text" name="productname" class="form-control"><br>
                    <label for="catogery">catogery</label><br>
                    <input type="text" name="catogery" class="form-control"><br>
                    <label for="discription">discription</label><br>
                    <input type="text" name="discription" class="form-control"><br>
                    <label for="prize">prize</label><br>
                    <input type="number" name="prize" class="form-control"><br>
                    <label for="">image</label><br>
                    <input type="file"name="image"class="form-control"><br>
                    <button type="submit" class="btn btn-success">submit</button>
                </form>
            </div>
        </div>
    </div>
</section>