 <section class="login ml-5">
      <div class="head pt-4 mt-3">
        <span>Admin Login</span>
    </div><br>
    <form class="LIF" name="LIF" method="post"  action="/admin/Login" >
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Email..."><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Password..."><br>
        <br>
        <button type="submit">Login</button><br><br>
    </form>

</section>