<section class="category">
  <form action="/admin/editCategory?id={{category._id}}" method="post">
  <label for="category"></label><br>
      <input type="text" class="form-control" name="category" value={{category.category}}>
      <button type="submit" class="betaButton mt-1 ml-auto" style="text-decoration: none ; color:black">Update Category</button>
  </form>
</section>