<section style="padding-bottom: 1rem;">
  <div class="row">
    <div class="container-flex pt-4 px-4">
      <div class="g-4">
        
          <div
            class="bg-light rounded h-100 p-4 col-sm-6"
            style=" margin-top: 8rem;width: 43rem;" >
            <h6 class="mb-4">Overall Sales</h6>
            <canvas id="line-chart"></canvas>
          </div>
   
        <div
          class="bg-light rounded h-100 p-4 col-sm-6"
          style="width: 43rem;margin-top: 2rem;display: inline-block;top: -25.3rem;left: 39rem;">
          <h6 class="mb-4">Monthly sales</h6>
          <canvas id="monthly"></canvas>
        </div>

      </div>
       <div
          class="bg-light rounded p-4 col-sm-6"
          style="width: 43rem;margin-top: 2rem;display: inline-block;top: -25.3rem;">
          <h6 class="mb-4">weekly sales</h6>
          <canvas id="weekly"></canvas>
        </div>
    <div
          class="bg-light rounded p-4 col-sm-6"
          style="width: 43rem;margin-top: 2rem;display: inline-block;top: -50.6rem;left: 39rem;">
          <h6 class="mb-4">daily sales</h6>
          <canvas id="daily"></canvas>
        </div>
            <div
          class="bg-light rounded p-4 col-sm-6"
          style="width: 43rem;margin-top: 2rem;display: inline-block;top: -50.6rem;">
          <h6 class="mb-4">yearly sales</h6>
          <canvas id="yearly"></canvas>
        </div>
      </div>
    </div>

 

  <div
    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
    style="
   width: 13rem;
      left: 17.5rem;
    position: absolute;
        top: 7.8rem;
"
  >
    <i class="fa fa-chart-bar fa-3x"></i>
    <div class="ms-3">
      <p class="mb-2">Total Sales</p>
      <h6 class="mb-0">₹{{total}}</h6>
    </div>
  </div>
  <div
    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
   style="
   width: 15rem;
   left: 35.5rem;
   position: absolute;
   top: 7.8rem;
">
    <i class="fa fa-chart-bar fa-3x"></i>
    <div class="ms-3">
      <p class="mb-2">Total no. of sales</p>
      <h6 class="mb-0">{{no}}</h6>
    </div>
  </div>
</section>
<script src="/javascripts/chart/chart.min.js"></script>
<script>


    $(window).on('load',function() {
   let money = []
    let date = []
    let month = []
    let monthMoney =[]
  let week =[]
  let wmoney=[]
  let day=[]
  let dmoney  =[]
  let year = []
  let ymoney= []
  $.ajax({
        url:'/admin/get-order-details',
        method:'get',
        success:(response)=>{

            
        
          response.forEach(data => {
        date.push((data.deliveryDetails.Date).split('T')[0])
        money.push(data.totalAmount)
        });
       date.reverse()
       money.reverse()
         
        }

    
  });
  $.ajax({
        url:'/admin/stats',
        method:'get',
        success:(response)=>{

         response.forEach(data=>{
           
           switch(data._id)
           {
            case 1 : month.push("Jan")
                     break;
                    case 2 : month.push("Feb")
                     break;
                     case 3 : month.push("Mar")
                     break;
                     case 4 : month.push("Apr")
                     break;
                     case 5 : month.push("May")
                     break;
                     case 6 : month.push("Jun")
                     break;
                     case 7 : month.push("July")
                     break;
                     case 8 : month.push("Aug")
                     break;
                     case 9 : month.push("Sep")
                     break;
                     case 10 : month.push("Oct")
                     break;
                     case 11: month.push("Nov")
                     break;
                     case 12: month.push("Dec")
                     break;
           }
          
            monthMoney.push(data.total)

         })
         month.reverse()
         monthMoney.reverse()
        }

    
  });
   $.ajax({
        url:'/admin/stats2',
        method:'get',
        success:(response)=>{

            
        
          response.forEach(data => {
        week.push(data._id)
        wmoney.push(data.total)
        });
       week.reverse()
       wmoney.reverse()
         
        }

    
  });
     $.ajax({
        url:'/admin/stats3',
        method:'get',
        success:(response)=>{

            
        
          response.forEach(data => {
        day.push(data._id)
        dmoney.push(data.total)
        });
       day.reverse()
       dmoney.reverse()
         
        }

    
  });
   $.ajax({
        url:'/admin/stats4',
        method:'get',
        success:(response)=>{

            
        
          response.forEach(data => {
        year.push(data._id)
        ymoney.push(data.total)
        });
       year.reverse()
       ymoney.reverse()
         
        }

    
  });
  setTimeout(()=>{

 var ctx3 = $("#line-chart").get(0).getContext("2d");
     var myChart3 = new Chart(ctx3, {
         type: "bar",
         data: {
             labels: date,
             datasets: [{
                 label: "Sales",
                 fill: false,
                 backgroundColor: "rgba(255, 51, 204, 2)",
                 data: money
             }]
         },
         options: {
             responsive: true
         }
     });
  },300)
      setTimeout(()=>{

 var ctx3 = $("#monthly").get(0).getContext("2d");
     var myChart3 = new Chart(ctx3, {
         type: "line",
         data: {
             labels: month,
             datasets: [{
                 label: "Sales",
                 fill: false,
                 backgroundColor: "rgba(0, 156, 255, .3)",
                 data: monthMoney
             }]
         },
         options: {
             responsive: true
         }
     });
  },300)
    setTimeout(()=>{

 var ctx3 = $("#weekly").get(0).getContext("2d");
     var myChart3 = new Chart(ctx3, {
         type: "bar",
         data: {
             labels: week,
             datasets: [{
                 label: "Sales (x: th week)",
                 fill: false,
                 backgroundColor: "rgba(181, 27, 27, 5)",
                 data: wmoney
             }]
         },
         options: {
             responsive: true
         }
     });
  },300)
    setTimeout(()=>{

 var ctx3 = $("#daily").get(0).getContext("2d");
     var myChart3 = new Chart(ctx3, {
         type: "line",
         data: {
             labels: day,
             datasets: [{
                 label: "Sales",
                 fill: false,
                 backgroundColor: "rgba(181, 27, 27, 5)",
                 data: dmoney
             }]
         },
         options: {
             responsive: true
         }
     });
  },300)
   setTimeout(()=>{

 var ctx3 = $("#yearly").get(0).getContext("2d");
     var myChart3 = new Chart(ctx3, {
         type: "bar",
         data: {
             labels: year,
             datasets: [{
                 label: "Sales",
                 fill: false,
                 backgroundColor: "rgba(181, 27, 27, 5)",
                 data: ymoney
             }]
         },
         options: {
             responsive: true
         }
     });
  },300)
    })

   
   
       
  
</script> 