<div class="sidebar pe-4 pb-3" style="
    overflow-x: hidden;
     overflow-y: clip;
">
            <nav class="navbar bg-light navbar-light">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <img src="/images/Group 1.jpg" alt="" style="
    width: 165px;
    height: 46px;
">
                </a>
                <div class="title">
                    <h4 style="
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: grey;
">Dashboard</h4>
                </div>
                <div class="d-flex align-items-center ms-4 mb-4">
                <div class="navbar-nav w-100 mt-4">
                    <a href="/admin" class="nav-item nav-link active"><i class="fa fa-home me-2"></i>Home</a>
                    {{!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div> --}}
                    <a href="/admin/all-users" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Users</a>
                    <a href="/admin/products" class="nav-item nav-link"><i class="fa fa-cart-arrow-down me-2"></i>Products</a>
                    <a href="/admin/all-orders" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Orders</a>
                    <a href="/admin/sales-report" class="nav-item nav-link" style="cursor: pointer;"><i class="fa fa-chart-bar me-2"></i>Sales report</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>