<section>
      <div class="container mt-5">
      <div class="row">
      
        {{#each product}}
        <div class="col-md-3">
    <div class="card p-5em mt-7" style="width: 14rem;">
  <img class="card-img-top" style="height:14em"src="/product-images/{{this.product._id}}.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.product.productname}}</h5>
    <p class="card-text">{{this.product.description}}</p>
    <p class="card-text">{{this.product.price}}</p>
    
  </div>
  </div>
  </div>
  {{/each}}
  </div>
  
  </section>