<section class="login">
    <div class="head pt-4 mt-3">
        <span>Login</span>
    </div>
    <form class="LIF" name="LIF" method="post" action="/sendOTP" id="login">
              <label for="phoneNo">Phone No.</label><br>
          <input type="text" name="phone" placeholder="PhoneNo..."><br>
        <h4 class="err" id="NoErr"> </h4>
        <br>
        <button type="submit">Send OTP</button>
    </form>
</section>

