
<section class="signup ml-5">
    <div class="head pt-4 mt-3">
        <span>SignUp</span>
    </div>
    <h4>{{message}}</h4>
    <form class="SUF" name="SUF" action="/Signup" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Name..."><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Email..."><br>
        <label for="phoneNo">Phone No.</label><br>
        <input type="text" name="phone" placeholder="PhoneNo..."><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Password..." id="password"><br>
        <label for="confirmPassword">Confirm Password</label><br>
        <input type="password" name="confirmPassword" placeholder="Password..."><br>
        <br>
        <button type="submit">SignUp</button><br><br>
        <a href="/Login">Already have an Account</a> 
    </form>
</section>
{{!-- <div class="row">
    <div class="container">
        <form action="/Signup" method="POST">
            <label for="">Name</label><br>
            <input class="form-control" type="text"name="Name"><br>
            <label for="">Email</label><br>
            <input class="form-control" type="text"name="Email"><br>
            <label for="">Password</label><br>
            <input class="form-control" type="password"name="Password"><br>
            <a href="/Login">Already have an Account</a> <button class="btn btn-success float-right">Signup</button>

        </form>
    </div>
</div> --}}