<section class="login">
    <div class="head pt-4 mt-3">
        <span>Login</span>
    </div>
    <form class="LIF" action="/verifyOTP" id="login2" method="POST">
           <label for="OTP">OTP</label><br>
          <input type="text" name="otp" placeholder="OTP..."><br>
        <h4 class="err" id="OTPErr"> </h4>
        <br>
        <button type="submit">verifyOTP</button>
    </form>
</section>