.card {
  display: flex;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.2);
  padding: 5px;
  margin: 10px;
  position: relative;
  transition: all 0.75s ease-out;
  z-index: 1;
  flex: 1;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img-top {
  height: 30vh;
  border-radius: 30px;
}

.container {
  border-radius: 10px;
  padding-bottom: 10px;

  align-items: center;
}
.row {
  justify-content: space-between;
  padding: 10px;
  justify-items: center;
}
.navbar {
  border: none;
  width: 17vw;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.btn {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.carousel {
  height: 45vh;
  border-radius: 30px;
  padding-top: 5px;
}
.d-block {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  padding-top: 5px;
}
.dropdown-menu {
  border-radius: 30px;
}
.table {
  background-color: white;
}
.Image {
  border-radius: 10px;
}
.navbar-brand h3 {
  font-variant: small-caps;

  text-shadow: 0px 0px 3px 3px rgb(red, green, blue);
}
.loginErr {
  font-family: serif;
  color: cyan;
  font-size: 1.3em;
}

.icon {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  background: transparent;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}
.like {
  border: none;
  height: 25px;
  width: 25px;
  background: transparent;
  outline: none;
  display: flex;
  justify-items: center;
  text-align: center;
  border-radius: 60%;
}

.icon-like {
  background: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;

  justify-items: center;
}
.icon-liked {
  background: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;

  justify-items: center;
  z-index: -1;
}

.like:focus {
  outline: 0;
}
.remove-btn {
  border-radius: 50%;
  border: none;

  background-color: red;
  color: black;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
  text-align: center;
}
.remove-btn:focus {
  outline: 0;
}
.iconliked {
  background: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;

  justify-self: center;

  z-index: 2;
  bottom: 5px;
}
.liked {
  border: none;
  height: 25px;
  width: 25px;
  background: transparent;
  outline: none;

  justify-content: center;
  text-align: center;
  display: flex;
  position: absolute;
  border-radius: 60%;
  right: 17px;

  z-index: 2;
}
.liked:focus {
  outline: 0;
}

.like-btns {
  height: 25px;
  width: 25px;
  float: right;
}
.search-div {
  position: absolute;
  display: none;

  top: 85px;
}
.search-div-active {
  transition: width 2s, height 4s;
  width: 90%;
  justify-self: center;
  left: 5%;
  justify-items: center;
  position: absolute;
  display: flex;
  background-color: rgb(87, 82, 82);
  top: 85px;

  z-index: 4;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.2);
}
.sec {
  z-index: -1;
}
.sec1 {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.hide-like-btn {
  display: none;
}
.search {
  width: 0px;
  padding: 5px 5px;

  color: white;
  border: none;
  background-color: transparent;
}
.search-btn {
  display: flex;
  float: right;
  background-color: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  color: rgb(255, 255, 255);
  align-self: center;
  padding: 6px 6px;
  margin-right: 6px;
}

.searchbox:hover > .search {
  transition: 1s;
  left: 0;
  width: 80%;
}

.searchbox:hover > .search-btn {
  background-color: rgb(0, 0, 0);
  color: white;
  margin-right: 3px;
  animation-delay: 10ms;
  right: 10px;
}
.search:focus {
  width: 80%;
}

.searchbox {
  border-radius: 30px;

  margin-right: 10px;
  background-color: rgb(24, 23, 23);
  color: azure;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  justify-content: space-around;

  padding: 10px 10px;
}
.pdtImg {
  height: 22rem;
  width: 33rem;
  margin-left: 18rem;
}
.pdtImg img {
  height: 30rem;
    width: 30rem;
}
.dashCards i {
  color: #000000 !important;
}

.login .head span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  /* or 100% */

  letter-spacing: -0.05em;
}

.LIF label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  
  font-size: 16px;

  line-height: 49px;
  letter-spacing: -0.05em;
}

.LIF input {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 11px;
  width: 24rem;
  height: 45px;
  padding-left: 20px;
}

::placeholder {
  padding: 10px;
}

.LIF button {
  width: 194px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 97% */
  text-align: center;
  color: #111111;
  background-color: #ffffff;
}

.LIF a input {
  width: 221px;
  height: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 28px;
  text-align: center;
  color: #111111;
  background-color: #ffffff;
  border-radius: 0px;
}
.LIF .error {
  font-size: 16px;
  padding-left: 10px;
  color: red;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  /* .login-bg{
    flex-direction: column;
  }  */
  .carousel {
    height: 200px;
  }
  .d-block {
    height: 200px;
  }
  .main {
    align-items: center;
  }
  .card {
    width: fit-content;
    height: 400px;
  }
  .search:focus {
    width: 80%;
  }
  .searchbox:hover > .navbar-brand {
    display: none;
  }
  .searchbox:hover > .search {
    transition: 1s;
    left: 0;
    width: 80%;
  }
  .searchbox:hover > .search-btn {
    background-color: red;
    color: white;
    margin-right: 3px;
    animation-delay: 10ms;
    right: 10px;
  }
}
.SUF .error {
  font-size: 16px;
  padding-left: 10px;
  color: red;
  margin: 0;
}
.signup .head {
  width: 569px;
  height: 103px;
}
.SUF button {
  width: 221px;
  height: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 97% */
  text-align: center;
  color: #111111;
  background-color: #ffffff;
}
.signup .head {
  width: 569px;
  height: 103px;
}

.signup .head span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  /* or 100% */

  letter-spacing: -0.05em;
}

.SUF label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;

  font-size: 16px;

  line-height: 49px;
  letter-spacing: -0.05em;
}

.SUF input {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 11px;
  width: 24rem;
  height: 45px;
  padding-left: 20px;
}

::placeholder {
  padding: 10px;
}

.SUF button {
  width: 194px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 97% */
  text-align: center;
  color: #111111;
  background-color: #ffffff;
}
.editBtn {
  height: 2.5rem;
}
.deleteBtn {
  font-size: 2.5rem !important;
  position: absolute;
  padding-left: 8rem;
  color: red;
  padding-bottom: 15px;
  margin-top: -2px;
}
.blockBtn {
  font-size: 2.5rem !important;
  position: absolute;
  padding-left: 1rem;
  color: #8b8b8b;
  padding-bottom: 15px;
  margin-top: -2px;
  z-index: 1000;
}
.betaButton {
  width: 189px;
  height: 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: #111111;
  background-color: #ffffff;
  border: solid;
}
.addProducts select {
  width: 33rem;
  height: 2.5rem;
  border-radius: 5px;
}
.editProducts select {
  width: 33rem;
  height: 2.5rem;
  border-radius: 5px;
}


.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}
.dataTables_wrapper .dataTables_filter input{
  border: solid 2px black !important;
}
.d-block{
  width: 90rem;
    height: 30rem;
    margin-left: 2.5rem;
    border-radius: 0px;
}
.pagination{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.pagination .previous-page, .next-page{
  background: #0AB1CE;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.pagination .previous-page:hover{
  transform: translateX(-5px);
}

.pagination .next-page:hover{
  transform: translateX(5px);
}

.pagination .current-page, .dots{
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination .active{
  background: #0AB1CE;
}

.pagination .disable{
  background: #ccc;
}
.orders .dataTables_filter{
  display: none;
}
.orders .dataTables_length{
  display: none;
}